

h2 {
	font-size: 160%;
	padding: 0.3em 0;
}

h3 {
	font-weight: bold;
}

p {
	padding-bottom: 1em;
}

/**
 * Tabelas
 */
table {
	width: 100%;
}

table thead th {
	background: #3647a3;
	color: #FFF;
	font-weight: bold;
	padding: 0.3em 5px;
}

table tbody tr td {
	border-bottom: 1px solid #CCC;
	padding: 0.3em 5px;
}

table tbody tr td a {
	color: #000;
	text-decoration: underline;
}

table tbody tr td a:hover {
	text-decoration: none;
}


/**
 * Header
 */
div#header {
	background: #3647a3;
	border-bottom: 1px solid #111;
}
div#header h1 {
	color: #FFF;
	font-size: 200%;
	margin: 0 auto;
	padding: 0.3em 0;
	text-shadow: 1px 1px 0.05em #CCC;
	width: 700px;
}

div#menu {
	background: #333;
	border-bottom: 1px solid #555;
}

div#menu ul {
	margin: 0 auto;
	padding: 0.3em 0;
	width: 700px;
}

div#menu ul li {
	display: inline;
	margin-right: 10px;
}

div#menu ul li a {
	color: #FFF;
}

div#menu ul li a:hover {
	color: #DDD;
	text-decoration: none;
}



/**
 * Conteúdo
 */

div#content {
	margin: 0 auto;
	padding: 1em 0;
	width: 700px;
}







/** Preview **/
div#preview-avaliado, div#preview-lider {
	overflow: auto;
	width: 48%;
}

div#preview-avaliado {
	float: left;
}

div#preview-lider {
	float: right;
}



/**
 * Footer
 */
div#footer {
	text-align: center;
}




/**
 * Outros
 */
.clear {
	clear: both;
	display: block;
}
